extends layout

block content
    h1.
        User List
    ul
        each entry in wemoentries
            li= "Date: " + entry.wemodishwasher.createdAt + " Power: " + entry.wemodishwasher.currentpower + " kWh"