extends layout

block content
    h1.
        Wemoentries
    ul
        each entry in wemoentries
            //li= "Date: " + entry.wemodishwasher.createdAt + " Power: " + entry.wemodishwasher.currentpower + " kWh"
            li= entry.wemodishwasher.toString()